{% extends "egghunt/white.html" %}
{% load staticfiles %}
{% block title %}Clues{% endblock %}
{% block pagetitle %}{{ egg.locationName }}{% endblock %}
{% block main %}

			<!-- The clues -->
				<section id="clues" class="wrapper">

                        <header class="major special">
                            <h2>{{ egg.locationName }}</h2>
                            <p>Part {{ egg.level }} Clue {{ egg.sequenceNumber }} | {{ daysLeft }} days left to live</p>
                        </header>

                        <div class="container">
                            {% for image in imgsBefore %}
                            <div class="half-wrapper"><span class="image fit"><img src="{{ image.image.url }}" alt="" /></span></div>
                            {% endfor %}
                            {{ egg.textClue | safe }}
                            {% for image in imgsAfter %}
                            <div class="half-wrapper"><span class="image fit"><img src="{{ image.image.url }}" alt="" /></span></div>
                            {% endfor %}
                        </div>



            <!-- Search bar -->
					<div class="container">
                        <p>
                            {{ egg.textClueAfter | safe }}
                        </p>
						<form method="get" action="{% url 'clues' %}">
                        <div class="row uniform">
                            <div class="12u 12u$(xsmall)">
                                <input class="big-caps" type="text" name="answer" id="answer" value="" placeholder="Answer" />
                            </div>
                            <div class="12u$ align-center">
                                <ul class="actions">
                                    <li><input type="submit" value="Guess" class="special" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
					</div>
				</section>

{% endblock %}