{% extends "egghunt/landing.html" %}
{% load staticfiles %}
{% block main %}

		<!-- Banner -->
			<section id="banner">
				<h2>eEaster Egg Hunt</h2>
				<p>Follow a trail of clues across a wild continent</p>
			</section>

		<!-- Welcome -->
			<section id="welcome" class="wrapper style1">
				<div class="container">
					<header class="major special">
						<h2>Welcome</h2>
					</header>

					<p>
						The eEaster Egg Hunt returns for 2020! This year's hunt takes you to the mythical continent
						of <em>Pazira</em> where you embark on a quest to find the cure to a life-threatening
						disease by solving riddles, translating hieroglyphics and using your wits. Happy Easter!
					</p>
					<img src="{% static 'egghunt/images/paragraph_separator.gif' %}" alt="" class="paragraph-end" />

				</div>
			</section>

		<!-- Welcome -->
			<section id="howto" class="wrapper style2">
				<div class="container">
					<header class="major special">
						<h2>How to play</h2>
					</header>
					<span class="image fit"><img src="{% static 'egghunt/images/idaho_winter_road.jpg' %}" alt="An Idaho road in Winter" /></span>
                    <p>
                        The eEasterEgg Hunt works like any other.
                        You start with a clue.
                        By solving the clue, you can continue the story, until you reach the next clue.
                    </p>
					<h3>Solving the clues</h3>
                    <p>
                        The clues can be <em>difficult</em> and you're not expected to "just know it".
                        A little persistence will be needed!
						Unlike previous versions of the eEaster Egg hunt, the answers to this year's clues are in
						the form of text.
                        For every clue, your answer needs to exactly match one of the accepted answers.
                        If you think you have the right answer but it is not accepted, try rephrasing or respelling
						your answer.
                    </p>
                    <h3>Resuming</h3>
                    <p>
                        You can pause and resume the hunt at any time. Just remember the solution to the last puzzle you
						solved. When you want to resume, enter that answer on the <a href="{% url 'resume' %}">resume page</a> .
                    </p>
					<h3>Ready?</h3>
					<p class="align-center">
						<a href="{% url 'cluesToClue' 'start' 'toclue' %}" class="button special big">Click here to Begin</a>
					</p>
				</div>
			</section>

            <!-- Leaderboard -->
			{% if leaders %}
			<section id="leaderboard" class="wrapper style1">
				<div class="container">
					<header class="major special">
						<h2>Leaderboard Top 20</h2>
					</header>
					{% for leaderlist in leaders %}
					<header><h3>Part {{ forloop.counter }}</h3></header>
					{% if leaderlist %}
					<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>Position</th>
										<th>Name</th>
										<th>Time</th>
									</tr>
								</thead>
								<tbody>
								{% for leader in leaderlist %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{ leader.name }}</td>
										<td>{{ leader.publicationDate }}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
					</div>
					{% else %}
					No-one here yet
					{% endif %}
					{% endfor %}
				</div>
			</section>
			{% endif %}
{% endblock %}
