{% extends "egghunt/landing.html" %}
{% load staticfiles %}
{% block main %}

		<!-- Banner -->
			<section id="banner">
				<h2>eEaster Egg Hunt</h2>
				<p>Follow a trail of clues across a wild continent</p>
			</section>

		<!-- Welcome -->
			<section id="welcome" class="wrapper style2 special">
				<div class="container">
					<header class="major special">
						<h2>Welcome</h2>
					</header>

					<p>
						The eEaster Egg Hunt returns for 2020! This year's hunt takes you to the mythical continent
						of <em>Pazira</em> where you embark on a quest to find the cure to a life-threatening
						disease by solving riddles, translating hieroglyphics and using your wits in a range
						of challenging puzzles. Happy Easter!
					</p>
					<span class="image fit"><img src="{% static 'egghunt/images/paragraph_separator.gif' %}" alt="" /></span>

				</div>
			</section>

            <!-- Leaderboard -->
			{% if leaders %}
			<section id="leaderboard" class="wrapper style1">
				<div class="container">
					<header class="major special">
						<h2>Leaderboard</h2>
					</header>
					{% for leaderlist in leaders %}
					<header><h3>Part {{ forloop.counter }}</h3></header>
					{% if leaderlist %}
					<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>Position</th>
										<th>Name</th>
										<th>Time</th>
									</tr>
								</thead>
								<tbody>
								{% for leader in leaderlist %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{ leader.name }}</td>
										<td>{{ leader.publicationDate }}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
					</div>
					{% else %}
					No-one here yet
					{% endif %}
					{% endfor %}
				</div>
			</section>
			{% endif %}
{% endblock %}
