{% extends "egghunt/landing.html" %}
{% load staticfiles %}
{% block main %}

		<!-- Banner -->
			<section id="banner">
				<h2>eEaster Egg Hunt</h2>
				<p>Follow a trail of clues around the world </p>
				<ul class="actions">
					<li><a href="{% url 'start' %}" class="button special big">Start</a></li>
					<li><a href="{% url 'map' %}" class="button special big">Resume</a></li>
				</ul>
			</section>

		<!-- Welcome -->
			<section id="welcome" class="wrapper style2 special">
				<div class="container">
					<header class="major special">
						<h2>Welcome</h2>
						<span class="image fit"><img src="{% static 'egghunt/images/li-river.jpg' %}" alt="" /></span>
					</header>

					<p>
						Welcome to the eEaster Egg Hunt 2018! This is it. Bigger, better, and more compelling than
						before.
					</p>

				</div>
			</section>

            <!-- Leaderboard -->
			{% if leaders %}
			<section id="leaderboard" class="wrapper style1">
				<div class="container">
					<header class="major special">
						<h2>Leaderboard</h2>
					</header>
					{% for leaderlist in leaders %}
					<header><h3>Part {{ forloop.counter }}</h3></header>
					{% if leaderlist %}
					<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>Position</th>
										<th>Name</th>
										<th>Time</th>
									</tr>
								</thead>
								<tbody>
								{% for leader in leaderlist %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{ leader.name }}</td>
										<td>{{ leader.publicationDate }}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
					</div>
					{% else %}
					No-one here yet
					{% endif %}
					{% endfor %}
				</div>
			</section>
			{% endif %}
{% endblock %}
