{% extends "egghunt/white.html" %}
{% load staticfiles %}
{% block title %}Leaderboard Entry{% endblock %}
{% block main %}

			{% if canEnter %}

            <section id="form" class="wrapper style1">
                <header class="major special">
                            <h2>Congratulations</h2>
                            <p>Completed Part {{ egg.levelJustEnded }}</p>
                    {% if egg.finalEnd %}
                        <p>Congratulations. You mount the stairs to exit the tomb and emerge close to the nymph statue,
                            your horses waiting patiently where you left them. You mount your own, tying Charlie’s
                            horse behind and nestling the egg safely in front of you. Within the day you are back in
                            Enguasua, where you find Charlie being tended to at the inn by the local doctors,
                            apparently on the doors of death. Again you take some of the Kaisa leaf and dissolve
                            it in water, dripping it carefully into Charlie’s mouth. Within a few minutes, you see
                            colour returning to his cheeks, and strength returning to his body. You have succeeded,
                            and it is time to go home.</p>
                        {% endif %}
                </header>

                <div class="container">
                <div class="row 50% uniform">
                    <div class="12u$"><span class="image fit"><img src="{% static 'egghunt/images/Treasure-Map.jpg' %}" alt="" /></span></div>
                </div>
                </div>


                <div class="wrapper container">
                    <h3>Enter the leaderboard</h3>
                    <form method="post" action="{% url 'cluesSubmit' answer 'submit' %}">
                        {% csrf_token %}
                        <div class="row uniform">
                            <div class="6u 12u$(xsmall)">
                                <input type="text" name="name" id="name" value="" placeholder="Name" />
                            </div>
                            <div class="12u$">
                                <ul class="actions">
                                    <li><input type="submit" value="Submit" class="special" /></li>
                                    {% if egg.finalEnd %}
                                    <li><a href="{% url 'index' %}" class="button special">Home</a></li>
                                    {% else %}
                                    <li><a href="{% url 'cluesToClue' answer 'toclue' %}" class="button special">Skip</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

            {% else %}

                <section id="form" class="wrapper style1 special">

                    <header class="major special">
                            <h2>Congratulations</h2>
                            <p>Completed Part {{ egg.levelJustEnded }}</p>
                        {% if egg.finalEnd %}
                        <p>Congratulations. You mount the stairs to exit the tomb and emerge close to the nymph statue,
                            your horses waiting patiently where you left them. You mount your own, tying Charlie’s
                            horse behind and nestling the egg safely in front of you. Within the day you are back in
                            Enguasua, where you find Charlie being tended to at the inn by the local doctors,
                            apparently on the doors of death. Again you take some of the Kaisa leaf and dissolve
                            it in water, dripping it carefully into Charlie’s mouth. Within a few minutes, you see
                            colour returning to his cheeks, and strength returning to his body. You have succeeded,
                            and it is time to go home.</p>
                        {% endif %}
                    </header>


                    <div class="container special">
                        <p>You've been recorded on the leaderboard</p>
						<ul class="actions">
                            {% if not egg.finalEnd %}
                            <li><a href="{% url 'cluesToClue' answer 'toclue' %}" class="button special">Continue to Part {{ egg.level }}</a></li>
                            {% endif %}
                            <li><a href="{% url 'leaderboard' %}" class="button special">Leaderboard</a></li>
                            <li><a href="{% url 'index' %}" class="button special">Home</a></li>

					    </ul>
                    </div>
                </section>

        {% endif %}

{% endblock %}
